<!-- Add you custom twig html here -->

{{ dump(_context|keys) }}

<h2>Hello {{ address.first_name }}</h2>

<p>Thank you for subscribing to our Member!</p>


<p>You can unsubscribe <a href="{{ url('smmg_member.unsubscribe') }}">here</a> at any time.</p>