<!-- Add you custom twig html here -->

{{ dump(_context|keys) }}

<h2>Here you can subscribe or unsubscribe our member.</h2>


<p><a href="{{ url('smmg_member.subscribe') }}">Subscribe</a></p>
<p><a href="{{ url('smmg_member.unsubscribe') }}">Unsubscribe</a></p>