<!-- Add you custom twig html here -->

{{ dump(_context|keys) }}

<p>You have been successfully unsubscribed from the member</p>


<p>You can resubscribe <a href="{{ url('smmg_member.subscribe') }}">here</a> at any time</p>